<div class="container">
    <div class="text-center">
        <h2>Star War Planets</h2>
    </div>

    <div class="d-flex justify-content-between p-2">
        <button class="btn btn-primary" routerLink="list" data-toggle="tooltip" data-placement="top" title="To get all planets">All Planets</button>
        <button class="btn btn-primary" routerLink="favourite" data-toggle="tooltip" data-placement="top" title="Go to Favourites Section">Favourites</button>
        <button class="btn btn-primary" (click)="reset()" data-toggle="tooltip" data-placement="top" title="Reset All favourites">Reset</button>
    </div> 

    <router-outlet></router-outlet>
</div>

<!-- <app-planets-list></app-planets-list> -->
